*.iml
/*.iml
.gradle
/local.properties
.idea/
*/build/
**/build/
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
*/debug/
*/release/
/gradle
.gitignore.swp